<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>restaurantintro</key>
	<array>
		<string>kal</string>
		<string>rest 2</string>
		<string>rest 3</string>
	</array>
	<key>restaurantdescriptions</key>
	<array>
		<string>American</string>
		<string>Japanese fusion</string>
		<string>Mexican </string>
		<string>Japanese Udon</string>
		<string>Filipino </string>
		<string>Japanese Bento</string>
	</array>
	<key>restaurantImages</key>
	<array>
		<string>kapoleiKalapawai</string>
		<string>sushiBay</string>
		<string>elFuego</string>
		<string>aguRamen</string>
		<string>julie&apos;zRestaurant</string>
		<string>okomeBento</string>
	</array>
</dict>
</plist>
